* {
    box-sizing: border-box;
    font-family: sans-serif !important;

}

body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    overflow-x: hidden;
    position: relative;
}

p {
    margin: 0;

}

input::placeholder {
    font-size: 0.75rem;
}

input:focus {
    box-shadow: none !important;
}

#weather-wrapper {
    background: rgba(255, 254, 254, 0.059) !important;
}


#svg {
    width: 10rem;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media (min-width: 400px) {
    input::placeholder {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {

    #input-wrapper {
        width: 35rem
    }

    #weather-wrapper {
        width: 48%
    }

}

@media (min-width: 1200px) {
    #weather-wrapper {
        width: 32%;
        z-index: 100;
    }
}

.swal2-popup {
    background-color: #2e295f !important;
    color: #fff !important;
}

.swal2-confirm {
    box-shadow: none !important;
    background-color: #24243e !important;
}